
body { 
  margin: 0px;
  background-color: #ffffff;
  font-family: tahoma, sans-serif;
}

#top {
  background-color :  #2d2578;
  color:white;
  padding: 3px 270px 15px;
  border: 0px;
  margin: 0px;
}

#top ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
}

#top ul li {
  display: inline;
  margin: 0px 15px 0px 0px;
  font-size: 13px;
  font-family: tahoma, sans-serif;
}

#top a { 
  text-decoration: none;
  color: white;
}       

#top  a:hover {
 text-decoration: underline;
}

.nba { 
  background: url("NBA.jpg"); 
  position: absolute;
  width: 28%;
  height: 37%;
  padding: 0px 0px 0px 0px; 
  margin: 20px 0px 0px 270px;
}

.yellowHeader { 
  margin: 180px 0px 0px 20px;
  font-family: arial;
}  

.yellowHeader a {
  color: yellow;
  text-decoration: none;
}

.yellowHeader a:hover {
  text-decoration: underline;
}


.nbaTitle { 
  color: #ffffff;
  font-family: tahoma, sans-serif;
  margin: -13px 0px 0px 3px;
  padding: 0px 0px 0px 8px; 
}         

.nbaTitle a {
  text-decoration: none;
  color: white;
}

.nbaTitle a:hover {
  text-decoration: underline;
}

.nbaNews {
  color: #ffffff;
  font-size: 15px;
  margin: -10px 0px 10px 20px;
}

.mostImportantNews {
  margin: 20px 30px 0px 710px;
  width: 12%;
  border: collapse;
}

.mostImportantNews td {
  padding: 10px 0px 10px 10px;
  font-size: 15px;
  font-family: arial;
}
 
.mostImportantNews a {
  text-decoration: none;
  color: #03011a;
}

.mostImportantNews a:hover {
  text-decoration: underline;
}

#infoTableHeader {
  font-size: 10px;
  background-color: #fa4040;
  color: white;
  padding: 4px 0px 3px 8px;
}

#infoTableHeader a {
  text-decoration: none;
  color: white;
}

#infoTableHeader a:hover {
  text-decoration: underline;
}

.bottomBorder {
  border-bottom: 1px solid #ddd;
}


